<div class="page-header" style="max-height:10000em !important;">
  <%= image_tag "cover.png", :class=>"page-header-image" %>
  <div class="container mt-5" >
    <div class="row align-items-center p-5 mt-5">
      <div class="col-md-5 mx-auto" style="z-index:100;">
        <div class="align-items-center">
          <h1 class="title">Nous réalisons le site internet qui vous sera utile.</h1>
          <h4 class="description">Lesitefrancais vous propose de bons programmeurs et designer, et suit de près la réalisation de votre site internet jusqu'à la fin.</h4>
        </div>
      </div>
      
      <% if !user_signed_in? || not_form  %> 
      
      <div class="col-md-5 mx-auto"  >
        <div class="container">
          <h2 style="margin:0em">J'ai besoin d'un site pour:</h2>
          
          <%= form_tag guests_path(:number => 1), method: :post do %>
          <%= submit_tag 'Moi Même', :class=>"btn btn-info btn-round btn-lg", :id=>"btnhome1", :style=>"position: relative;  left: 110%; overflow: hidden; display: none;" %>
          <% end %>

          <%= form_tag guests_path(:number => 2), method: :post do %>
          <%= submit_tag 'Mon Entreprise ', :class=>"btn btn-info btn-round btn-lg ", :id=>"btnhome2", :style=>"position: relative;  left: 110%; overflow: hidden; display: none;" %>
          <% end %>

          <%= form_tag guests_path(:number => 3), method: :post do %>
          <%= submit_tag 'Mon Association ', :class=>"btn btn-info btn-round btn-lg ", :id=>"btnhome3", :style=>"position: relative;  left: 110%; overflow: hidden; display: none;" %>
          <% end %>

         
        </div>
      </div>
     <%else%> 

        <div class="col-md-5 mx-auto"  >
        <div class="container">

          <%= link_to "Voir mon devis", formfuction_path(current_user.id), :class=>"btn btn-info btn-round btn-lg " %>

          <%end%>
          </div>
          </div>
    
    </div>

  </div>
</div>

<div class="cards">
  <div class="container">
    <div class="title">
      <h3>Full Background Cards</h3>
    </div>
    <div class="row">
      <div class="col-md-4" id="card1" >
        <center><%= image_tag "CBD.png", :class=>"card card-background w-75", :id=>"img1"%></center>
        <div class="card-body" >
          <div class="card-title text-left">
            <h3><%=link_to "CBDrone", cbdrone_path %></h3>
          </div>
          <div class="card-footer text-left">
            <div class="stats-link pull-right">
              <a href="https://youtu.be/3ExBje_cLnc" class="footer-link">CBDrone.herokuapp.com</a>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="card2">
        <center><%= image_tag "airbnb.png", :class=>"card card-background w-75", :id=>"img2"%></center>
        <div class="card-body" >
          <div class="card-title text-left">
            <h3>Airbnb.com</h3>
          </div>
          <div class="card-footer text-left">
            <div class="stats-link pull-right">
              <a href="https://youtu.be/3ExBje_cLnc" class="footer-link">airbnb.com</a>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="card3">
        <center><%= image_tag "wix.png", :class=>"card card-background w-75", :id=>"img3"%></center>
        <div class="card-body" >
          <div class="card-title text-left">
            <h3>Wix</h3>
          </div>
          <div class="card-footer text-left">
            <div class="stats-link pull-right">
              <a href="https://youtu.be/3ExBje_cLnc" class="footer-link">wix.com</a>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <center>
      <%=link_to "Voir plus", portfolio_path, :class=>"btn btn-info" %>
    </center>
  </div>
</div>

<div class="section purple">
  <center><h2>Ils nous font confiance</h2>
    <div class="row px-5">
        <div class="col-md-2">
<%= image_tag "logo1.png"%>
</div>
<div class="col-md-2">
<%= image_tag "logo2.png"%>
</div>
<div class="col-md-2">
<%= image_tag "logo3.png"%>
</div>
<div class="col-md-2">
<%= image_tag "logo4.png"%>
</div>
<div class="col-md-2">
<%= image_tag "logo5.png"%>
</div>
<div class="col-md-2">
<%= image_tag "logo6.png"%>
</div>
</center>
</div>
<div class="features-5">
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <h2 class="title">Des valeurs en béton</h2>
                <div class="info info-horizontal">

                  <%= image_tag "puzzle.png", :style=>"object-fit:cover", :class=>"icon icon-info icon-circle"%>


                    <div class="description">
                        <h4 class="info-title">La transparence</h4>
                        <p>On vous indique le prix, détaillé à la précision dev. Ne soyez plus dans le flou, on vous explique chaque détail, son prix et sa nécéssitée. Vous ne verez plus un devis à chiffres astronomiques sans explications pour un site simple.</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <%= image_tag "coin.png", :style=>"object-fit:cover", :class=>"icon icon-info icon-circle"%>
                    <div class="description">
                        <h4 class="info-title">Les prix honnêtes</h4>
                        <p>En tant que professionels, notre objectif est d'avant tout rendre l'univers de l'infomatique accessible. Notre solution est simplement de baisser les prix pour que tout consommateur puisse profiter de ces technologies.</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <%= image_tag "time.png", :style=>"object-fit:cover", :class=>"icon icon-info icon-circle"%>
                    <div class="description">
                        <h4 class="info-title">La rapidité et la qualité</h4>
                        <p>Nous garantissons l'impossible : un site fait en moins de deux semaines. Notre priorité est le client et nous travaillons dans l'efficacité totale pour produire des sites de qualité supérieure.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="tablet-container">
                    <%= image_tag "bolts.png" %>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
  $(document).ready(function() {
    $('#btnhome1').css('display', 'block');
    $('#btnhome1').animate({ opacity: 0 }, 0);
    $('#btnhome1').animate({ opacity: 1, left: "0" }, 2000);
    $('#btnhome2').css('display', 'block');
    $('#btnhome2').animate({ opacity: 0 }, 0);
    $('#btnhome2').animate({ opacity: 1, left: "0" }, 2250);
    $('#btnhome3').css('display', 'block');
    $('#btnhome3').animate({ opacity: 0 }, 0);
    $('#btnhome3').animate({ opacity: 1, left: "0" }, 2500);
  });
  $('#card1').mouseover(
  function(){$('#img1').removeClass('w-75');});
  $('#card1').mouseout(
  function(){$('#img1').addClass('w-75');});
  $('#card2').mouseover(
  function(){$('#img2').removeClass('w-75');});
  $('#card2').mouseout(
  function(){$('#img2').addClass('w-75');})
  $('#card3').mouseover(
  function(){$('#img3').removeClass('w-75');});
  $('#card3').mouseout(
  function(){$('#img3').addClass('w-75');})

</script>
