<div class="page-header" style="max-height:10000em !important;">
  <%= image_tag "cover.jpg", :class=>"page-header-image" %>


      <div class="row align-items-center">


        <div class="col-md-5 mx-auto" style="z-index:100;">
          <div></br></br></br></br></br></br></div>
<div class="align-items-center">
          <h1 class="title">Nous réalisons le site internet qui vous sera utile.</h1>
          <h4 class="description">Lesitefrancais vous propose de bons programmeurs et designer, et suit de près la réalisation de votre site internet jusqu'à la fin.</h4>

        </div>
        </div>
        <div class="col-md-5 mx-auto"  >
          <div></br></br></br></br></br></br></div>
          <div class="container">

        <h2 style="margin:0em">J'ai besoin d'un site pour:</h2>





                     <%= form_tag guests_path(:number => 1), method: :post do %>
                       <%= submit_tag 'Moi Même', class:"btn btn-info btn-round btn-lg" %>
                       <% end %>

                       <%= form_tag guests_path(:number => 2), method: :post do %>
                       <%= submit_tag 'Mon Entreprise ', class:"btn btn-info btn-round btn-lg" %>
                       <% end %>

                       <%= form_tag guests_path(:number => 3), method: :post do %>
                       <%= submit_tag 'Mon Association ', class:"btn btn-info btn-round btn-lg" %>
                       <% end %>










</div>



        </div>
      </div>

    </div>
  </div>


<div class="cards">
                    <div class="container">
                        <div class="title">
                          <h3>
                                <small>Full Background Cards</small>
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4" >
                              <%= image_tag "CBD.png", :class=>"card card-background", :id=>"img1"%>

                                    <div class="card-body" >
                                        <div class="card-title text-left">
                                            <h3><%=link_to "CBDrone", cbdrone_path %></h3>

                                        </div>
                                        <div class="card-footer text-left">

                                            <div class="stats-link pull-right">
                                                <a href="CBDrone.herokuapp.com" class="footer-link">CBDrone.herokuapp.com</a>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-4" id="img2">
                              <%= image_tag "airbnb.png", :class=>"card card-background", :id=>"img2"%>

                                    <div class="card-body" >
                                        <div class="card-title text-left">
                                            <h3>Airbnb.com</h3>
                                        </div>
                                        <div class="card-footer text-left">

                                            <div class="stats-link pull-right">
                                                <a href="airbnb.com" class="footer-link">airbnb.com</a>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-4" id="img3">
                              <%= image_tag "wix.png", :class=>"card card-background", :id=>"img3"%>

                                    <div class="card-body" >
                                        <div class="card-title text-left">
                                            <h3>Wix</h3>
                                        </div>
                                        <div class="card-footer text-left">

                                            <div class="stats-link pull-right">
                                                <a href="wix.com" class="footer-link">wix.com</a>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <center>

                        <%=link_to "Voir plus", portfolio_path, :class=>"btn btn-info" %>
                        </center>
                    </div>
                </div>





<script type="text/javascript">
    var button = function() {
    $number = 3;
    };
    var where = document.getElementsByClassName("btn btn-warning btn-round btn-lg")
    where[3].addEventListener("click", button);
</script>
