                   <div class="page-header" >

  <div class="row">
  <div class="col-md-6 px-0" >
    <div class="card card-fashion card-container ">
      <h4 class="card-title">The view from south Texas in one Picture</h4>
      <div class="card-body">
         
         <div class="container ">
                       
                      
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 px-0">
    <%= image_tag "img1.jpg", :class=>"card card-fashion card-background" %>
  </div>

</div>
</div>


JE SUIS LUTILISATEUR NUMERO <%= current_user.id %>
MON DEVIS NATTEND PLUS QUUN PAIEMENT EN CARTE GOLD  </br>

<%= @who.title %> </br>
<%= @activity.title %></br>
<%= @type.title %></br>

<% @functions.each do |function| %>
<%= function.title %></br>
<%end%>
