<div class="page-header page-header-small" filter-color="blue">
            
            <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
            <div class="content-center">
                <div class="photo-container">
                    <img src="../assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Ryan Scheinder</h3>
                <p class="category">Photographer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div>
            </div>
        </div>
JE SUIS LUTILISATEUR NUMERO <%= current_user.id %>
MON DEVIS NATTEND PLUS QUUN PAIEMENT EN CARTE GOLD  </br>

<%= @who.title %> </br>
<%= @activity.title %></br>
<%= @type.title %></br>

<% @functions.each do |function| %>
<%= function.title %></br>
<%end%>
