<div class="page-header page-header-small">

            <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">A propos de nous</h1>
                        <h4>Qui sommes nous et ourquoi nos choisir</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-us">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">Qui sommes nous?</h2>
                                <h5 class="description">Nous sommes une équipe de développeurs web </h5>
                            </div>
                        </div>
                        <div class="separator separator-primary"></div>
                        <div class="section-story-overview">
                            <div class="row">
                                <div class="col-md-6">

                                    <%= image_tag "coffee-graph.jpg", :class=>"image-container image-left" %>

                                        <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                            <br>
                                            <br>
                                            <small>-NOAA</small>
                                        </p>

                                    <!-- Second image on the left side of the article -->
                                    <%= image_tag "glasses-code.jpg", :class=>"image-container image-left-bottom" %>
                                </div>
                                <div class="col-md-5">

                                    <%= image_tag "plan.jpg", :class=>"image-container image-right" %>
                                    <h3>Pourquoi nous choisir</h3>
                                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                                    </p>
                                    <p>
                                        For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                                    </p>
                                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div class="team-3 section-image page-header" style="max-height:100em !important">
  <%= image_tag "cover-code.jpg", :class=>"page-header-image", :style=>"position:absolute; object-fit:cover !important; top:-0.1em" %>

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h3 class="title">La super team</h3>
                            <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag "cat1.jpg", :class=>"img" %>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                      <div class="card-body">
                                          <h3 class="card-title">Aleks</h3>
                                          <h6 class="category text-primary">Manager</h6>
                                          <p class="card-description">
                                              Elle manage l'impossible, hors tu ne pourra pas la manager.
                                          </p>
                                      </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag "cat2.jpg", :class=>"img" %>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h3 class="card-title">Paul</h3>
                                            <h6 class="category text-primary">Back-end warrior</h6>
                                            <p class="card-description">
                                                Si t'est pas content avec son back end, il te proposera un macaron et tu partira content.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag "cat3.jpg", :class=>"img" %>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h3 class="card-title">Martin</h3>
                                            <h6 class="category text-primary">Mailing genius</h6>
                                            <p class="card-description">
                                                Il fume, il boit son caffé, il code des mailers de spam. Ne le déranges pas sinon il va partir.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag "cat4.jpg", :class=>"img" %>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                      <div class="card-body">
                                          <h3 class="card-title">Yannick</h3>
                                          <h6 class="category text-primary">Designer</h6>
                                          <p class="card-description">
                                              Il est talentueux, il est persistant, on le décrit comme "Deutsche Qualität"
                                          </p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="features-5">
                <div class="container">
                
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="title">Des valurs en béton</h2>
                            <div class="info info-horizontal">

<%= image_tag "puzzle.png", :style=>"object-fit:cover", :class=>"icon icon-info icon-circle"%>


                                <div class="description">
                                    <h4 class="info-title">La transparence</h4>
                                    <p>On vous indique le prix, détaillé à la précision dev. Ne soyez plus dans le flou, on vous explique chaque détail, son prix et sa nécéssité. Vous ne verez plus un devis à chiffres astronomiques sans explications pour un site simple.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <%= image_tag "coin.png", :style=>"object-fit:cover", :class=>"icon icon-info icon-circle"%>
                                <div class="description">
                                    <h4 class="info-title">Les prix honêtes</h4>
                                    <p>En tant que professionels, notre objectif est d'avant tout rendre l'univers de l'infomatique accessible. Notre solution est simplement de baisser les prix pour que tout consomateur puisse profiter de ces technologies.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <%= image_tag "time.png", :style=>"object-fit:cover", :class=>"icon icon-info icon-circle"%>
                                <div class="description">
                                    <h4 class="info-title">La rapidité et la qualité</h4>
                                    <p>Nous guarantissons l'impossible : un site fait en moins de deux semaines. Notre priorité est le client et nous travaillons dans l'éfficacité totale pour produire des sites de qualité supérieure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="tablet-container">
                                <%= image_tag "bolts.png" %>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
