<div class="page-header page-header-small">

            <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">A propos de nous</h1>
                        <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-us">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">Who we are?</h2>
                                <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                            </div>
                        </div>
                        <div class="separator separator-primary"></div>
                        <div class="section-story-overview">
                            <div class="row">
                                <div class="col-md-6">

                                    <%= image_tag "coffee-graph.jpg", :class=>"image-container image-left" %>

                                        <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                            <br>
                                            <br>
                                            <small>-NOAA</small>
                                        </p>

                                    <!-- Second image on the left side of the article -->
                                    <%= image_tag "glasses-code.jpg", :class=>"image-container image-left-bottom" %>
                                </div>
                                <div class="col-md-5">

                                    <%= image_tag "plan.jpg", :class=>"image-container image-right" %>
                                    <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                                    </p>
                                    <p>
                                        For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                                    </p>
                                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div class="team-3 section-image page-header" style:"max-height:100em !important">
  <%= image_tag "cover-code.jpg", :class=>"page-header-image", :style=>"position:absolute; object-fit:cover !important; top:-0.1em" %>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">The Executive Team 3</h2>
                            <h4 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <a href="#pablo">
                                                <img class="img" src="assets/img/olivia.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h3 class="card-title">Ariana Hazel</h3>
                                            <h6 class="category text-primary"> Fashion Designer</h6>
                                            <p class="card-description">
                                                Happiness resides not in possessions, and not in gold, happiness dwells in the soul...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <a href="#pablo">
                                                <img class="img" src="assets/img/james.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h3 class="card-title">Ryan Samuel</h3>
                                            <h6 class="category text-primary">Financial Examiner</h6>
                                            <p class="card-description">
                                                Today you are you! That is truer than true! There is no one alive who is you-er than you!..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <a href="#pablo">
                                                <img class="img" src="assets/img/michael.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h3 class="card-title">Joshua Jackson</h3>
                                            <h6 class="category text-primary">Landscape Architect</h6>
                                            <p class="card-description">
                                                Success is not final, failure is not fatal: it is the courage to continue that counts...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <a href="#pablo">
                                                <img class="img" src="assets/img/emily.jpg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h3 class="card-title">Nora Hazel</h3>
                                            <h6 class="category text-primary">Legal Secretary</h6>
                                            <p class="card-description">
                                                Do not dwell in the past, do not dream of the future, concentrate the mind...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="title">Working is a pleasure</h2>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary icon-circle">
                                    <i class="now-ui-icons location_world"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Hundreds of Components</h4>
                                    <p>The moment you use Now UI Kit, you know you’ve never felt anything like it. With a single use lets you do more than ever before. </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary icon-circle">
                                    <i class="now-ui-icons sport_user-run"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Easy to Use</h4>
                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary icon-circle">
                                    <i class="now-ui-icons ui-2_time-alarm"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Fast Prototyping</h4>
                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="tablet-container">
                                <img src="assets/img/ipad2-inverted.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
