<div class="wrapper">
  <div class="page-header page-header-small section-image">

              <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
              <div class="content-center">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                          <h1 class="title">Portfolio</h1>
                          <h6>Les sites que nous avons fait</h6>
                      </div>
                  </div>
              </div>
          </div>
        <div class="section">

            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h3 class="title">CBDrone</h3>
                            <p>Ce site révolutionaire, créé pour une entreprise innvante en drones et CBD, reinvente le e-commerce. Nous allons vous montrer comment il fonctionne.
                                <br>
                                <br> Avec des graphiques hallucinants et un thème très clean, ce site sert à vendre des herbes hallucinogènes légales.</p>
                            <p class="blockquote blockquote-danger">
                                “Mec, ça a l'air trop la classe ce site web!”
                                <br>
                                <br>
                                <small>
                                    Eloïse E., Cliente du site.
                                </small>
                            </p>
                            <%= image_tag "CBD.png", :class=>"image-container image-left" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-blog col-md-10 ml-auto mr-auto">
                <div class="container">
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-6">

<%= image_tag "CBD.png", :class=>"image-container image-left" %>
                                <!-- Second image on the left side of the article -->

                                  <%= image_tag "flower.png", :class=>"image-container image-left-bottom" %>
                                  <p class="blockquote blockquote-danger">
                                      “Je suis jaloux.”
                                      <br>
                                      <br>
                                      <small>
                                          Johnny M., Un vendeur de CBD.
                                      </small>
                                  </p>
                            </div>
                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->

                                <%= image_tag "cbdrone.png", :class=>"image-container image-right" %>
                                <h3>L'excellence d'un site de CBD</h3>
                                <p>Avec l'aspet medical de site, il est enfin possible de vendre du CBD à tous types de clients et pas que à Snoop Dog. C'est clean, c'est propre. Ah oui, c'est propre.
                                </p>
                                <p>
                                    Le bel aspet e-commerce et un paiement sécurisé sur Stripe avec un joli cart qui permet d'acheter de grandes quantités de CBD permettent à tout utilisateur de commender en ligne à longueuer de journée. You're Welcome, CBD users.
                                </p>
                                <p>Avec un compte d'utilisateur vous pouvez même changer et sauvegarder vos herbes préférées!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



           
     
