<div class="wrapper">
  <div class="page-header page-header-small section-image">

              <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
              <div class="content-center">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                          <h1 class="title">Portfolio</h1>
                          <h6>Les sites que nous avons fait</h6>
                      </div>
                  </div>
              </div>
          </div>
        <div class="section">

            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h3 class="title">CBDrone</h3>
                            <p>Ce site révolutionaire, créé pour une entreprise innvante en drones et CBD, reinvente le e-commerce. Nous allons vous montrer comment il fonctionne.
                                <br>
                                <br> Avec des graphiques hallucinants et un thème très clean, ce site sert à vendre des herbes hallucinogènes légales.</p>
                            <p class="blockquote blockquote-danger">
                                “Mec, ça a l'air trop la classe ce site web!”
                                <br>
                                <br>
                                <small>
                                    Eloïse E., Cliente du site.
                                </small>
                            </p>
                            <%= image_tag "CBD.png", :class=>"image-container image-left" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-blog col-md-10 ml-auto mr-auto">
                <div class="container">
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-6">

<%= image_tag "CBD.png", :class=>"image-container image-left" %>
                                <!-- Second image on the left side of the article -->

                                  <%= image_tag "flower.png", :class=>"image-container image-left-bottom" %>
                                  <p class="blockquote blockquote-danger">
                                      “Je suis jaloux.”
                                      <br>
                                      <br>
                                      <small>
                                          Johnny M., Un vendeur de CBD.
                                      </small>
                                  </p>
                            </div>
                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->

                                <%= image_tag "cbdrone.png", :class=>"image-container image-right" %>
                                <h3>L'excellence d'un site de CBD</h3>
                                <p>Avec l'aspet medical de site, il est enfin possible de vendre du CBD à tous types de clients et pas que à Snoop Dog. C'est clean, c'est propre. Ah oui, c'est propre.
                                </p>
                                <p>
                                    Le bel aspet e-commerce et un paiement sécurisé sur Stripe avec un joli cart qui permet d'acheter de grandes quantités de CBD permettent à tout utilisateur de commender en ligne à longueuer de journée. You're Welcome, CBD users.
                                </p>
                                <p>Avec un compte d'utilisateur vous pouvez même changer et sauvegarder vos herbes préférées!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section">
                <div class="container">
                    <div class="col-md-12">
                        <h2 class="title text-center">Sites Similaires</h2>
                        <br>
                        <div class="blogs-1" id="blogs-1">
                            <div class="row">
                                <div class="col-md-10 ml-auto mr-auto">
                                    <div class="card card-plain card-blog">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="card-image">
                                                    <img class="img img-raised rounded" src="../assets/img/examples/card-blog4.jpg">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <h6 class="category text-info">Enterprise</h6>
                                                <h3 class="card-title">
                                                    <a href="#pablo">Warner Music Group buys concert discovery service Songkick</a>
                                                </h3>
                                                <p class="card-description">
                                                    Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark.
                                                </p>
                                                <p class="author">
                                                    by
                                                    <a href="#pablo">
                                                        <b>Sarah Perez</b>
                                                    </a>, 2 days ago
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-plain card-blog">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <h6 class="category text-danger">
                                                    <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> Startup
                                                </h6>
                                                <h3 class="card-title">
                                                    <a href="#pablo">Insticator raises $5.2M to help publishers</a>
                                                </h3>
                                                <p class="card-description">
                                                    Insticator is announcing that it has raised $5.2 million in Series A funding. The startup allows online publishers to add quizzes, polls and other interactive elements...
                                                </p>
                                                <p class="author">
                                                    by
                                                    <a href="#pablo">
                                                        <b>Anthony Ha</b>
                                                    </a>, 5 days ago
                                                </p>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="card-image">
                                                    <img class="img img-raised rounded
                                            " src="../assets/img/examples/card-blog6.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer " data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#creative">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2019, Designed by
                    <a href="http://www.invisionapp.com">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </div>
