<div class="page-header page-header-small section-image">

            <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Portfolio</h1>
                        <h6>Les sites que nous avons fait</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
          <div class="container">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card1">
                                        <div class="card-image justify-content-center">
                                          <%= image_tag "CBD.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img1"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-info">e-commerce</h6>
                                            <h4 class="card-title">
                                                <%=link_to "CBDrone", cbdrone_path %>
                                            </h4>
                                            <p class="card-description">
                                                Le meilleur site des drones et du CBD #legalhigh yeah! On a codé ce site pas fini, mais il rend la competition jalouse.

                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card2">
                                        <div class="card-image">
                                          <div class="card-image">
                                                  <%= image_tag "airbnb.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img2"%>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-success">
                                                booking
                                            </h6>
                                            <h4 class="card-title">
                                                <%=link_to "Airbnb", cbdrone_path %>
                                            </h4>
                                            <p class="card-description">
                                                Oui, oui, on a bien codé la Airbnb! C'était pas trop dure, on a tout fait en ruby et voila! Existe en format Dog.

                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card3">
                                        <div class="card-image">
                                                <%= image_tag "wix.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img3"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-danger">
                                                websites
                                            </h6>
                                            <h4 class="card-title">
                                                <%=link_to "Wix", cbdrone_path %>
                                            </h4>
                                            <p class="card-description">
                                                On a même codé le site de wix! Un site pour faire des sites, codé par un site qui fait des sites pour des sites! Perfecto!
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card4">
                                        <div class="card-image justify-content-center">
                                          <%= image_tag "thp.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img4"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-info">Enterprise</h6>
                                            <h4 class="card-title">
                                                <%=link_to "THP", cbdrone_path %>
                                            </h4>
                                            <p class="card-description">
                                                On a codé le site de THP #noshame. On rigole, mais on aime bien votre page, donc hop, on l'a scrappé! (ok ok c'est un screenshot)
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card5">
                                        <div class="card-image">
                                          <div class="card-image">
                                                  <%= image_tag "airbnb.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img5"%>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-success">
                                                Startups
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Lyft launching cross-platform service this week</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card6">
                                        <div class="card-image">
                                                <%= image_tag "wix.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img6"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-danger">
                                                <i class="now-ui-icons media-2_sound-wave"></i> Enterprise
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">6 insights into the French Fashion landscape</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card4">
                                        <div class="card-image justify-content-center">
                                          <%= image_tag "CBD.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img4"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-info">Enterprise</h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card5">
                                        <div class="card-image">
                                          <div class="card-image">
                                                  <%= image_tag "airbnb.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img5"%>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-success">
                                                Startups
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Lyft launching cross-platform service this week</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card6">
                                        <div class="card-image">
                                                <%= image_tag "wix.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img6"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-danger">
                                                <i class="now-ui-icons media-2_sound-wave"></i> Enterprise
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">6 insights into the French Fashion landscape</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card7">
                                        <div class="card-image justify-content-center">
                                          <%= image_tag "CBD.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img7"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-info">Enterprise</h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card8">
                                        <div class="card-image">
                                          <div class="card-image">
                                                  <%= image_tag "airbnb.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img8"%>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-success">
                                                Startups
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Lyft launching cross-platform service this week</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog" style="position: relative;  left: 110%; overflow: hidden; display: none;" id="card9">
                                        <div class="card-image">
                                                <%= image_tag "wix.png", :class=>"img rounded img-raised w-75 mx-5", :id=>"img9"%>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-danger">
                                                <i class="now-ui-icons media-2_sound-wave"></i> Enterprise
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">6 insights into the French Fashion landscape</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <script>
                          $(document).ready(function() {
                            $('#card1').css('display', 'block');
                            $('#card1').animate({ opacity: 0 }, 0);
                            $('#card1').animate({ opacity: 1, left: "0" }, 2000);
                            $('#card2').css('display', 'block');
                            $('#card2').animate({ opacity: 0 }, 0);
                            $('#card2').animate({ opacity: 1, left: "0" }, 2250);
                            $('#card3').css('display', 'block');
                            $('#card3').animate({ opacity: 0 }, 0);
                            $('#card3').animate({ opacity: 1, left: "0" }, 2500);});

                          function time1() {
                            $('#card4').css('display', 'block');
                            $('#card4').animate({ opacity: 0 }, 0);
                            $('#card4').animate({ opacity: 1, left: "0" }, 2000);
                            $('#card5').css('display', 'block');
                            $('#card5').animate({ opacity: 0 }, 0);
                            $('#card5').animate({ opacity: 1, left: "0" }, 2250);
                            $('#card6').css('display', 'block');
                            $('#card6').animate({ opacity: 0 }, 0);
                            $('#card6').animate({ opacity: 1, left: "0" }, 2500);};

                            function time2() {
                              $('#card7').css('display', 'block');
                              $('#card7').animate({ opacity: 0 }, 0);
                              $('#card7').animate({ opacity: 1, left: "0" }, 2000);
                              $('#card8').css('display', 'block');
                              $('#card8').animate({ opacity: 0 }, 0);
                              $('#card8').animate({ opacity: 1, left: "0" }, 2250);
                              $('#card9').css('display', 'block');
                              $('#card9').animate({ opacity: 0 }, 0);
                              $('#card9').animate({ opacity: 1, left: "0" }, 2500)};

                            setTimeout(time1, 1000);
                            setTimeout(time2, 2000);

                          $('#card1').mouseover(
                          function(){$('#img1').removeClass('w-75 mx-5');});
                          $('#card1').mouseout(
                          function(){$('#img1').addClass('w-75 mx-5');});
                          $('#card2').mouseover(
                          function(){$('#img2').removeClass('w-75 mx-5');});
                          $('#card2').mouseout(
                          function(){$('#img2').addClass('w-75 mx-5');})
                          $('#card3').mouseover(
                          function(){$('#img3').removeClass('w-75 mx-5');});
                          $('#card3').mouseout(
                          function(){$('#img3').addClass('w-75 mx-5');})
                          $('#card4').mouseover(
                          function(){$('#img4').removeClass('w-75 mx-5');});
                          $('#card4').mouseout(
                          function(){$('#img4').addClass('w-75 mx-5');});
                          $('#card5').mouseover(
                          function(){$('#img5').removeClass('w-75 mx-5');});
                          $('#card5').mouseout(
                          function(){$('#img5').addClass('w-75 mx-5');})
                          $('#card6').mouseover(
                          function(){$('#img6').removeClass('w-75 mx-5');});
                          $('#card6').mouseout(
                          function(){$('#img6').addClass('w-75 mx-5');})
                          $('#card7').mouseover(
                          function(){$('#img7').removeClass('w-75 mx-5');});
                          $('#card7').mouseout(
                          function(){$('#img7').addClass('w-75 mx-5');});
                          $('#card8').mouseover(
                          function(){$('#img8').removeClass('w-75 mx-5');});
                          $('#card8').mouseout(
                          function(){$('#img8').addClass('w-75 mx-5');});
                          $('#card9').mouseover(
                          function(){$('#img9').removeClass('w-75 mx-5');});
                          $('#card9').mouseout(
                          function(){$('#img9').addClass('w-75 mx-5');});


                        </script>
