</br></br></br></br></br></br></br></br></br></br>

<%= link_to "Creer un nouvel Utilisateur", new_admin_admins_user_path %> </br></br>

<table border= "1px">
<tr> 
<td> Numéro</td>
<td> Nom</td>
<td> Prénom</td>
<td> Email</td>
<td> Created at </td>
<td> Updated at </td>
<td> Role </td>
<td> Editer Utilisateur</td>

</tr>


<% @users.each do |user| %>
<tr> 
<td> <%=user.id %></td>
<td> <%=user.last_name%></td>
<td> <%=user.first_name%></td>
<td> <%=user.email%></td>
<td> <%=user.created_at %></td>
<td> <%=user.updated_at %></td>
<td> <%=user.role %></td>
<td> <%= link_to "Editer",  edit_admin_admins_user_path(user.id) %></td>

</tr>
<%end%>
</table>