<!DOCTYPE html>
<html>
  <head>
    <title>Webtatoolol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <body>

    <header>
    	<div class="container">
    		<div class="row">
    			<div class="col-12">
    				<a href="/" class="logo-link">
    					<img class="responsive" src="upload/layout/logo-myfondue.svg" alt="">
    				</a>
    								<button class="nav-toggle" type="button">
    					<span>
    						<span class="line"></span>
    						<span class="line"></span>
    						<span class="line"></span>
    					</span>
    				</button>
    			</div>
    		</div>
    	</div>
    </header>

    <div id="home-navigation">
    	<ul class="nav">
    		<li class="nav-item"><a class="nav-link" href="#slide-1">Mischen</a></li>
    		<li class="nav-item"><a class="nav-link" href="#slide-2">Liefern</a></li>
    		<li class="nav-item"><a class="nav-link" href="#slide-3">Geniessen</a></li>
    	</ul>
    </div>
    <div id="slide-1" class="slider-container">
    	<div class="royalSlider rsDefault">
    					<div class="slider-slide" style="background-color: #dcc3c3;">
    				<div class="container">
    					<div class="row">
    						<div class="col-12 order-md-1 col-md-6 col-xl-7 col-xxl-8 align-self-center">
    							<img class="slider-image responsive" src="https://www.myfondue.shop/cms/cache/6569b2c1db0a211edb91c6790742e5e6.jpg" alt=""/>
    						</div>

    						<div class="col-12 order-md-0 col-md-6 col-xl-5 col-xxl-4 align-self-center slider-text">
    							<h1>Mische dein eigenes Fondue</h1>
    							<p>Wir mischen fixfertige Fonduemischungen. W&auml;hle aus &uuml;ber 45 hochwertigen, regionalen und exklusiven Zutaten. Ganz nach deinem Geschmack.</p>
    							<p><a class="button" href="/meine-fonduemischung/">Los geht’s</a></p>
    						</div>

    					</div>
    				</div>
    			</div>
    					<div class="slider-slide" style="background-color: #e4f0d8;">
    				<div class="container">
    					<div class="row">
    						<div class="col-12 order-md-1 col-md-6 col-xl-7 col-xxl-8 align-self-center">
    							<img class="slider-image responsive" src="https://www.myfondue.shop/cms/cache/51efd4d8fad3cb14db626c944e5a323e.jpg" alt=""/>
    						</div>

    						<div class="col-12 order-md-0 col-md-6 col-xl-5 col-xxl-4 align-self-center slider-text">
    							<h1>Mische dein eigenes Fondue</h1>
    							<p>Wir mischen fixfertige Fonduemischungen. W&auml;hle aus &uuml;ber 45 hochwertigen, regionalen und exklusiven Zutaten. Ganz nach deinem Geschmack.</p>
    							<p><a class="button" href="/meine-fonduemischung/">Los geht’s</a></p>
    						</div>

    					</div>
    				</div>
    			</div>
    					<div class="slider-slide" style="background-color: #e9fbff;">
    				<div class="container">
    					<div class="row">
    						<div class="col-12 order-md-1 col-md-6 col-xl-7 col-xxl-8 align-self-center">
    							<img class="slider-image responsive" src="https://www.myfondue.shop/cms/cache/d1971aa5a3817c02434cb373d9d5c290.jpg" alt=""/>
    						</div>

    						<div class="col-12 order-md-0 col-md-6 col-xl-5 col-xxl-4 align-self-center slider-text">
    							<h1>Mische dein eigenes Fondue</h1>
    							<p>Wir mischen fixfertige Fonduemischungen. W&auml;hle aus &uuml;ber 45 hochwertigen, regionalen und exklusiven Zutaten. Ganz nach deinem Geschmack.</p>
    							<p><a class="button" href="/meine-fonduemischung/">Los geht’s</a></p>
    						</div>

    					</div>
    				</div>
    			</div>
    			</div>
    </div>
    <main>
    	<div id="slide-2" class="container">
    	<div class="row push-bottom">
    		<div class="col-8 offset-2 col-md-6 offset-md-0">

    							<img src="https://www.myfondue.shop/cms/upload/bilder/home/verpackung-2.gif"
    				     srcset="https://www.myfondue.shop/cms/upload/bilder/home/verpackung-2.gif 767w, https://www.myfondue.shop/cms/upload/bilder/home/verpackung-2.gif 768w"
    				     sizes="(max-width: 767px) 767px, 768px"
    				     alt=""
    				     class="responsive">
    					</div>
    		<div class="col-12 col-md-6 offset-md-0 col-lg-4 offset-lg-1 xs-push-top sm-push-top">
    			<h3>Lass dir dein Fondue nach Hause liefern</h3>
    <p>Wir sorgen f&uuml;r die frische Produktion und Lieferung innert 3-4 Arbeitstagen. Alle Zutaten werden zu einem fixfertigen Frischfondue mit einer Haltbarkeit von min. 15 Tagen gemischt.</p>
    			<div class="row">
    				<div class="col-10 offset-1 col-md-12 offset-md-0">
    					<div id="kaesepost" class="gutter-top"></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>	<div id="slide-3" class="bg-beige">
    	<div class="container">
    		<div class="row">
    			<div class="col-12 offset-md-1 col-md-10 push-top">
    				<h3>Einladen, zur&uuml;cklehnen und geniessen</h3>
    <p>Und nat&uuml;rlich unter dem Hashtag <a target="_blank" href="https://www.instagram.com/explore/tags/myfondue/">#myfondue</a>&nbsp;auf deinen Social Media Profilen teilen.</p>
    			</div>
    		</div>
    	</div>

    	<div class="home-fondue text-center">
    		<img class="fondue-pfanne" src="upload/bilder/home/fonduepfanne.jpg" alt="">

    		<img class="hand first" data-rellax-speed="7" src="upload/bilder/home/hand.png" alt=""
    		     data-paroller-factor="-0.1"
    		     data-paroller-type="foreground"
    		     data-paroller-direction="horizontal">
    		<img class="hand second" data-rellax-speed="7" src="upload/bilder/home/hand-2.png" alt=""
    		     data-paroller-factor="0.1"
    		     data-paroller-type="foreground"
    		     data-paroller-direction="horizontal">
    		<img class="hand third" data-rellax-speed="7" src="upload/bilder/home/hand-3.png" alt=""
    		     data-paroller-factor="0.1"
    		     data-paroller-type="foreground"
    		     data-paroller-direction="horizontal">

    		<img class="messer" src="upload/bilder/home/illu-messer.svg" alt="">
    		<img class="getraenk" src="upload/bilder/home/illu-getraenk.svg" alt="">
    		<img class="gabel" src="upload/bilder/home/illu-gabel.svg" alt="">
    		<img class="brot" src="upload/bilder/home/illu-brot.svg" alt="">
    		<img class="brote" src="upload/bilder/home/illu-brote.svg" alt="">
    		<img class="text" src="upload/bilder/home/werhetsbrotverlore.svg" alt="">
    	</div>

    	<div class="container">
    		<div class="row gutter-top">
    			<div class="col-12">
    				<hr>
    			</div>
    		</div>
    	</div>
    </div>							</main>

    <footer>
    	<div class="container">
    	<div class="row">

    		<div class="col-7 col-sm-auto order-sm-1 col-md-auto order-md-1 align-self-sm-center">
    			<p>
    				<a href="tel:+41 55 412 68 83">+41 55 412 68 83</a><br/>
    				<a href="mailto:info@myfondue.shop">info@myfondue.shop</a>
    			</p>
    		</div>

    		<div class="col-5 col-sm-auto order-sm-2 col-md-auto order-md-3 ml-md-auto align-self-sm-center">
    			<a href="/agb.html">AGB</a><br/>
    			<a href="/impressum.html">Impressum</a>
    		</div>

    		<div class="col-6 col-sm-auto order-sm-3 text-sm-right col-md-auto order-md-2 align-self-sm-center xs-push-top">
    			<a href="https://de-de.facebook.com/Milchmanufaktur/" target="_blank" class="social-link">
    				<img class="responsive" src="upload/layout/facebook-icon.svg" alt="">
    			</a>
    			<a href="https://www.instagram.com/milchmanufaktureinsiedeln/" target="_blank" class="social-link">
    				<img class="responsive" src="upload/layout/instagram-icon.svg" alt="">
    			</a>
    		</div>

    		<div class="col-6 col-sm-auto col-md-auto
    			  order-sm-4
    			  text-right text-sm-center
    			  align-self-sm-center
    			  xs-push-top">
    			<a href="https://www.milchmanufaktur.ch/" class="mm-link" target="_blank">
    				<img class="responsive" src="upload/layout/milchmanufaktur-icon.svg" alt="">
    			</a>
    		</div>

    	</div>
    </div></footer>

    <div class="global-menu">
    	<div class="global-menu__wrap">

    																<a class="global-menu__item " href="/meine-fonduemischung/"><span>Meine Fonduemischung</span></a>
    																<a class="global-menu__item " href="/fondue-klassiker/"><span>Fondue-Klassiker</span></a>
    																<a class="global-menu__item " href="/social/"><span>#Myfondue</span></a>
    																<a class="global-menu__item " href="/informationen/"><span>Informationen</span></a>
    																<a class="global-menu__item " href="/milchmanufaktur/"><span>Milchmanufaktur</span></a>
    	</div></div>
  </body>
</html>
