<!DOCTYPE html>
<html>
  <head>
    <title>Webtatoolol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg bg-info fixed-top navbar-transparent" color-on-scroll="500">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="http://demos.creative-tim.com/marketplace/now-ui-kit-pro/presentation.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom">
                  Now Ui Kit Pro
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>

          </button>
        </div>
        <div class="collapse navbar-collapse " data-nav-image="./assets/img/blurred-image-1.jpg" data-color="blue">
          <ul class="navbar-nav ml-auto" >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenu" href="" data-toggle="dropdown">
                <i class="now-ui-icons design_app"></i>
                <p>CONNECTE TOI TOUT DE SUITE</p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
               <li>
                      <%=link_to "Se connecter", new_user_session_path %>
             
               </li>
               <li>
                  
                    <%= link_to 'Deconnexion', destroy_user_session_path, :method => "delete" %>

                    </li>
                    <li>
                    <%= link_to "Inscription", new_user_registration_path %>
                    </li>                                                                          

                </a>
              </div>
            </li>

            <li>
            <%= link_to "MON DEVIS", formuser_path(1) %>
            </li>

            
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                <i class="now-ui-icons files_paper" aria-hidden="true"></i>
                <p>Sections</p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="./sections.html#headers">
                  <i class="now-ui-icons shopping_box"></i> Headers
                </a>
                <a class="dropdown-item" href="./sections.html#features">
                  <i class="now-ui-icons ui-2_settings-90"></i> Features
                </a>
                <a class="dropdown-item" href="./sections.html#blogs">
                  <i class="now-ui-icons text_align-left"></i> Blogs
                </a>
                <a class="dropdown-item" href="./sections.html#teams">
                  <i class="now-ui-icons sport_user-run"></i> Teams
                </a>
                <a class="dropdown-item" href="./sections.html#projects">
                  <i class="now-ui-icons education_paper"></i> Projects
                </a>
                <a class="dropdown-item" href="./sections.html#pricing">
                  <i class="now-ui-icons business_money-coins"></i> Pricing
                </a>
                <a class="dropdown-item" href="./sections.html#testimonials">
                  <i class="now-ui-icons ui-2_chat-round"></i> Testimonials
                </a>
                <a class="dropdown-item" href="./sections.html#contactus">
                  <i class="now-ui-icons tech_mobile"></i> Contact Us
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                <i class="now-ui-icons design_image" aria-hidden="true"></i>
                <p>Examples</p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="./examples/about-us.html">
                              <i class="now-ui-icons business_bulb-63"></i> About-us
                </a>
                <a class="dropdown-item" href="./examples/blog-post.html">
                              <i class="now-ui-icons text_align-left"></i> Blog Post
                </a>
                <a class="dropdown-item" href="./examples/blog-posts.html">
                              <i class="now-ui-icons design_bullet-list-67"></i> Blog Posts
                </a>
                <a class="dropdown-item" href="./examples/contact-us.html">
                              <i class="now-ui-icons location_pin"></i> Contact Us
                </a>
                <a class="dropdown-item" href="./examples/landing-page.html">
                              <i class="now-ui-icons education_paper"></i> Landing Page
                </a>
                <a class="dropdown-item" href="./examples/login-page.html">
                              <i class="now-ui-icons users_circle-08"></i> Login Page
                </a>
                <a class="dropdown-item" href="./examples/pricing.html">
                              <i class="now-ui-icons business_money-coins"></i> Pricing
                </a>
                <a class="dropdown-item" href="./examples/ecommerce.html">
                              <i class="now-ui-icons shopping_shop"></i> Ecommerce Page
                </a>
                <a class="dropdown-item" href="./examples/product-page.html">
                              <i class="now-ui-icons shopping_bag-16"></i> Product Page
                </a>
                <a class="dropdown-item" href="./examples/profile-page.html">
                              <i class="now-ui-icons users_single-02"></i> Profile Page
                </a>
                <a class="dropdown-item" href="./examples/signup-page.html">
                              <i class="now-ui-icons tech_mobile"></i> Signup Page
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer footer-big" data-background-color="black">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-md-2">
              <h5>About Us</h5>
              <ul class="links-vertical">
                <li>
                  <a href="#pablo" class="text-muted">Blog</a>
                </li>
                <li>
                  <a href="#pablo" class="text-muted">About Us</a>
                </li>
                <li>
                  <a href="#pablo" class="text-muted">Presentation</a>
                </li>
                <li>
                  <a href="#pablo" class="text-muted">Contact Us</a>
                </li>
              </ul>
            </div>
            <div class="col-md-2">
              <h5>Market</h5>
              <ul class="links-vertical">
                <li>
                  <a href="#pablo" class="text-muted">Sales FAQ</a>
                </li>
                <li>
                  <a href="#pablo" class="text-muted">How to Register</a>
                </li>
                <li>
                  <a href="#pablo" class="text-muted">Sell Goods</a>
                </li>
                <li>
                    <a href="#pablo" class="text-muted">
                                    Receive Payment
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="text-muted">
                                    Transactions Issues
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="text-muted">
                                    Affiliates Program
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Social Feed</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>How to handle ethical disagreements with your clients.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>The tangible benefits of designing at 1x pixel density.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-facebook-square"></i>
                                <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Follow Us</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-white btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-white btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-white btn-dribbble btn-round">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-white btn-google btn-round">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-white btn-instagram btn-round">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <h5>
                            <small>Numbers Don't Lie</small>
                        </h5>
                        <h5>14.521
                            <small class="text-muted">Freelancers</small>
                        </h5>
                        <h5>1.423.183
                            <small class="text-muted">Transactions</small>
                        </h5>
                    </div>
                </div>
            </div>
            <hr />
            <div class="copyright">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script> Creative Tim All Rights Reserved.
            </div>
        </div>
    </footer>
  </body>

<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });
</script>
</html>
